h2{
    font-weight: bold;
}

ul{
    list-style-type: none;
    display: flex;
    flex: 1 1 0;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

li{
    padding: 0.5em 2em;
}

.logo {
    width: 100%;
    text-align: center;
}

#photos{
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 0;
    justify-content: space-around;
}

#photos div{
    margin-bottom: 1.5em;
}

@media screen and (min-width: 1000px) {
    
    .typography{
        order: 1;
    }
    
    .ui{
        order: 2;
    }
    
    .logo{
        width: auto;
        order: 3;
    }
    
    .branding{
        order: 4;
    }
    
    .graffiti{
        order: 5;
    }
}